<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="google-signin-client_id" content="496584303137-6aphahbmnpmkv7c3egnblqh3tmvvm3g3.apps.googleusercontent.com">

	<title>Bonsai</title>
	<link rel="icon" href="/static/favicon.png" type="image/png" />

	<!-- Libs -->
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-light_blue.min.css" />
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

	<script src="//cdn.rawgit.com/dcodeIO/long.js/3.0.1/dist/long.js"></script>
	<script src="//cdn.rawgit.com/dcodeIO/bytebuffer.js/5.0.0/dist/bytebuffer.js"></script>
	<script src="//cdn.rawgit.com/dcodeIO/protobuf.js/5.0.0/dist/protobuf.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="/static/vue.js"></script>
	<script src="/static/underscore.js"></script>
	<script src="/static/underscore.string.min.js"></script>
	<script src="/static/jquery.js"></script>
	<script src="/static/three.min.js"></script>
	<script src="/static/TrackballControls.js"></script>

	<!-- Bonsai -->
	<link rel="stylesheet" href="/static/material.css" type="text/css" />
	<link rel="stylesheet" href="/static/biosphere.css" type="text/css" />

	<script src="/static/common.js"></script>
	<script src="/static/biosphere.js"></script>
</head>

<body>
	<div class="mdl-layout mdl-js-layout">
		<header id="header" class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">
					{{biosphere_name}}
				</span>

				<div class="mdl-layout-spacer"></div>

				<a class="mdl-button mdl-js-button mdl-button--icon" href="/" id="view_list_button"><i class="material-icons">view_list</i></a>
				<div class="mdl-tooltip  mdl-tooltip--large" for="view_list_button">See other biospheres</div>
				<div class="g-signin2" data-onsuccess="onSignIn"></div>
			</div>

			<div style="width:100%; bottom: 0px" v-show="loading" id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
		</header>

		<main class="mdl-layout__content">
			<div class="mdl-grid">
				<div id="time" class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
					<div>
						<h5>Time Control</h5>
						<div v-style="vertical-align: middle" class="mdl-spinner mdl-js-spinner" v-class="is-active: processing"></div>
						<button v-on="click: start" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" v-if="is_stopped">Start</button>
						<button v-on="click: stop" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" v-if="!is_stopped">Stop</button>

						<button v-on="click: pause" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="button_pause" v-if="pause_visible">
							<i class="material-icons">pause</i>
						</button>
						<button v-on="click: play" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="button_play" v-if="play_visible">
							<i class="material-icons">play_arrow</i>
						</button>

						<ul>
							<li>Current: {{current_timestamp}}</li>
							<li>Biosphere Age: {{head_timestamp}</li>
						</ul>

						<div v-repeat="year in years">
							<h6>Year {{year.index}}</h6>
							<div v-repeat="sol in year.sols" class="day" v-class="active: sol.active">
								<span>{{sol.index_in_year}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--9-col">
					<div id="main"></div>
				</div>
			</div>
		</main>
	</div>
</body>

</html>
