<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="google-signin-client_id" content="496584303137-6aphahbmnpmkv7c3egnblqh3tmvvm3g3.apps.googleusercontent.com">

	<title>Bonsai</title>
	<link rel="icon" href="/static/favicon.png" type="image/png" />

	<!-- Libs -->
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-light_blue.min.css" />
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

	<script src="/static/long.js"></script>
	<script src="/static/bytebuffer.js"></script>
	<script src="/static/protobuf.js"></script>
	<script src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="/static/vue.js"></script>
	<script src="/static/underscore.js"></script>
	<script src="/static/underscore.string.min.js"></script>
	<script src="/static/jquery.js"></script>
	<script src="/static/three.min.js"></script>
	<script src="/static/TrackballControls.js"></script>

	<!-- Bonsai -->
	<link rel="stylesheet" href="/static/material.css" type="text/css" />
	<link rel="stylesheet" href="/static/biosphere.css" type="text/css" />

	<script src="/static/common.js"></script>
	<script src="/static/biosphere.js"></script>
</head>

<body>
	<template id="time-template">
		<div>
			<div>T= {{currTimestamp}}</div>
			<div v-bind:style="{'vertical-align': middle}" class="mdl-spinner mdl-js-spinner" v-bind:class="{'is-active': processing}"></div>
			<button v-on:click="start" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" v-if="is_stopped">Start</button>
			<button v-on:click="stop" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" v-if="!is_stopped">Stop</button>

			<div v-for="year in years">
				<h6>Year {{year.index}}</h6>
				<div v-for="sol in year.sols" class="day" v-bind:class="{'avail': sol.avail, 'active': sol.active}" v-on:click="set_day(sol.index)">
					<span>{{sol.index_in_year}}</span>
				</div>
			</div>

			<button v-on:click="track_head()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" v-if="is_running && !is_tracking_head">Watch Live</button>
		</div>
	</template>

	<div class="mdl-layout mdl-js-layout">
		<bs-header :biosphere-name="biosphere_name" :loading="loading" inline-template>
			<header id="header" class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<span class="mdl-layout-title">
						{{biosphereName}}
					</span>

					<div class="mdl-layout-spacer"></div>

					<a class="mdl-button mdl-js-button mdl-button--icon" href="/" id="view_list_button"><i class="material-icons">view_list</i></a>
					<div class="mdl-tooltip  mdl-tooltip--large" for="view_list_button">See other biospheres</div>
					<a class="mdl-button mdl-js-button mdl-button--icon" href="/debug">
						<i class="material-icons">bug_report</i>
					</a>
					<div class="g-signin2" data-onsuccess="onSignIn"></div>
				</div>

				<div style="width:100%; bottom: 0px" v-show="loading" id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
			</header>
		</bs-header>

		<main class="mdl-layout__content">
			<div class="mdl-grid">
				<div id="time" class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
					<bs-time :state="state" :head-timestamp="head_timestamp" :persisted-years="persisted_years" :curr-timestamp="curr_timestamp"></bs-time>
				</div>
				<div class="viewport-container mdl-cell mdl-cell--9-col mdl-card mdl-shadow--2dp">
					<div id="viewport"></div>
					<button v-show="!inspecting" v-on:click="enter_inspect()" class="viewport-overlay mdl-button mdl-js-button mdl-js-ripple-effect">
						<i class="material-icons">search</i>INSPECT
					</button>
					<button v-show="inspecting" v-on:click="exit_inspect()" class="viewport-overlay mdl-button mdl-js-button mdl-js-ripple-effect" style="color: white">
						<i class="material-icons">close</i>
					</button>
				</div>
			</div>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
					<bs-composition inline-template>
						<div id="grain_composition"></div>
					</bs-composition>
				</div>
				<div class="mdl-cell mdl-cell--9-col mdl-card mdl-shadow--2dp">
					<bs-inspector :stats="stats" inline-template>
						<pre>{{stats}}</pre>
					</bs-inspector>
				</div>
			</div>
		</main>
	</div>
</body>

</html>
