<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="google-signin-client_id" content="496584303137-6aphahbmnpmkv7c3egnblqh3tmvvm3g3.apps.googleusercontent.com">

	<title>Bonsai</title>
	<link rel="icon" href="/static/favicon.png" type="image/png" />

	<!-- Libs -->
	<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-light_blue.min.css" />
	<script src="//storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

	<script src="//apis.google.com/js/platform.js"></script>
	<script src="//apis.google.com/js/client.js"></script>
	<script src="//apis.google.com/js/auth2.js"></script>
	<script src="//www.gstatic.com/charts/loader.js"></script>
	<script src="/static/long.js"></script>
	<script src="/static/bytebuffer.js"></script>
	<script src="/static/protobuf.js"></script>
	<script src="/static/vue.js"></script>
	<script src="/static/underscore.js"></script>
	<script src="/static/underscore.string.min.js"></script>
	<script src="/static/jquery.js"></script>

	<!-- Bonsai -->
	<link rel="stylesheet" href="/static/material.css" type="text/css" />

	<script src="/static/common.js"></script>
	<script src="/static/debug.js"></script>
</head>

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">
					Debug
				</span>
				<div class="mdl-layout-spacer"></div>
				<div class="g-signin2" data-onsuccess="onSignIn"></div>
			</div>
		</header>

		<main class="mdl-layout__content">
			<div class="mdl-grid">
				<div class=" mdl-cell mdl-cell--12-col">
					<div class="mdl-card mdl-shadow--2dp" style="width: 100%">
						<div class="mdl-card__title">
							<h5>JSON dump</h5>
						</div>
						<div class="mdl-card__media">
							<pre id="debug">{{debug}}</pre>
						</div>
					</div>
				</div>

				<div class=" mdl-cell mdl-cell--12-col">
					<div id="card_stepping" class="mdl-card mdl-shadow--2dp" style="width: 100%">
						<div class="mdl-card__title">
							<button v-on:click="update_whole" id="reload_stepping" class="mdl-button mdl-js-button mdl-button--icon">
								<i class="material-icons">refresh</i>
							</button>
							<h5>Biosphere Stepping</h5>
						</div>

						<div class="mdl-card__media">
							<div id="stepping_summary"></div>
						</div>
						<form action="#">
							<input class="mdl-slider mdl-js-slider" type="range" min="0" max="10000" v-model="center_ratio">
						</form>

						<form action="#">
							Start
							<div class="mdl-textfield mdl-js-textfield">
								<input class="mdl-textfield__input" type="text" v-model="view_min_str">
							</div>
							<input class="mdl-slider mdl-js-slider" type="range" min="0" max="10000" v-model="view_min_ratio">
							End
							<div class="mdl-textfield mdl-js-textfield">
								<input class="mdl-textfield__input" type="text" v-model="view_max_str">
							</div>
							<input class="mdl-slider mdl-js-slider" type="range" min="0" max="10000" v-model="view_max_ratio">
						</form>

						<div class="mdl-card__media">
							<div id="stepping_timeline"></div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>

</html>
