<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="google-signin-client_id" content="496584303137-6aphahbmnpmkv7c3egnblqh3tmvvm3g3.apps.googleusercontent.com">

	<title>Bonsai</title>
	<link rel="icon" href="/static/favicon.png" type="image/png" />

	<!-- Libs -->
	<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-light_blue.min.css" />
	<script src="//storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

	<script src="/static/long.js"></script>
	<script src="/static/bytebuffer.js"></script>
	<script src="/static/protobuf.js"></script>
	<script src="//apis.google.com/js/platform.js" async defer></script>
	<script src="/static/vue.js"></script>
	<script src="/static/underscore.js"></script>
	<script src="/static/underscore.string.min.js"></script>
	<script src="/static/jquery.js"></script>

	<!-- Bonsai -->
	<link rel="stylesheet" href="/static/material.css" type="text/css" />
	<link rel="stylesheet" href="/static/landing.css" type="text/css" />

	<script src="/static/common.js"></script>
	<script src="/static/landing.js"></script>
</head>

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">
					<img src="/static/logo_white.svg" width="24px" height="24px" /> Bonsai
				</span>
				<div class="mdl-layout-spacer"></div>
				<a class="mdl-button mdl-js-button mdl-button--icon" href="/debug">
					<i class="material-icons">bug_report</i>
				</a>
				<div class="g-signin2" data-onsuccess="onSignIn"></div>
			</div>
		</header>

		<main class="mdl-layout__content">
			<div class="page-content">
				<div id="biospheres">
					<h1>Biospheres</h1>
					<div v-for="biosphere in biospheres" class="card_main" v-on:click="enter(biosphere)">
						<div class="bg">
						</div>
						<div class="content">
							<div style="display:inline">
								<span style="font-size:200%">{{biosphere.name}}</span>
								<ul>
									<li>{{biosphere.num_ticks}} ticks</li>
									<li>12332 cells</li>
								</ul>
							</div>
						</div>
						<div class="content2">
							<div>
								<div>{{biosphere.num_cores}} cores</div>
								<div>12.3 GiB</div>
							</div>
							<button class="mdl-button mdl-js-button" v-on:click.stop="delete_bs(biosphere)">
								Delete
							</button>
						</div>
					</div>
					<div class="card_dummy_center">
						<div class="mdl-spinner mdl-js-spinner is-active" v-bind:class="{'is-active': loading}"></div>
					</div>
				</div>
			</div>

			<!-- Don't put buttons outside this main, otherwise, jquery & MDL will conflict and .click won't work. -->
			<div id="create_biosphere" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
				<i class="material-icons">add</i>
			</div>
		</main>
	</div>

	<div id="create_biosphere_dialog" style="display: none" class="dialog mdl-shadow--8dp">
		<h4>Create Biosphere</h4>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" v-model="name" id="create_biosphere_name_input">
			<label class="mdl-textfield__label" for="sample1">Biosphere name</label>
		</div>

		<h6>Cylinderical world (X:looping, Y: clipping)</h6>
		<img src="/static/cylinder_desc.png" width="200px" />
		<br/>

		<i class="material-icons">border_all</i>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="number" min="3" pattern="[0-9]+" v-model="nx" value="3" number>
			<label class="mdl-textfield__label" for="sample1">#X chunks (= meter)</label>
			<span class="mdl-textfield__error">Size(X) must be an integer >=3!</span>
		</div>
		×
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="number" pattern="[0-9]+" v-model="ny" value="2" number>
			<label class="mdl-textfield__label" for="sample1">#Y chunks (= meter)</label>
			<span class="mdl-textfield__error">Size(Y) must be a positive integer!</span>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" v-model="file_id">
			<label class="mdl-textfield__label" for="sample1">Storage file id</label>
		</div>

		<div style="background-color: #E1F5FE">
			<i class="material-icons">attach_money</i> {{est_price_usd}} USD / hour
		</div>

		<div class="error_desc" v-if="failed_to_create">
			Failed to create. Most likely, the name is already used by other biospheres.
		</div>

		<div style="float: right">
			<button v-on:click="cancel" class="mdl-button mdl-js-button">No</button>
			<button v-on:click="create" v-bind:disabled="!create_ready" class="mdl-button mdl-js-button mdl-button--primary">
				Create
			</button>
		</div>

		<div class="progress_overlay" v-if="creating">
			<div class="mdl-spinner mdl-js-spinner is-active"></div>
		</div>
	</div>

	<!-- %%$$ANALYTICS$$%% -->
</body>

</html>
